@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "./utilities/component.scss", "./utilities/media.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
